@model IEnumerable<RentAndDrive.Models.Car>
    
@*car component*@
        <div class="row">
            @foreach (var item in Model)
            {

                <div class="carContainer col">

                    <div class="cars">
                        <p><a href="#" class="carName">@item.CarName</a></p>
                        <p class="carModel">@item.Model</p>
                    </div>
                    <div class="btnContainer">
                        <button class="btnC">Hemen Kirala</button>
                    </div>
                    <div class="carImage">
                        <img class="ımage" src="@item.ImageUrl" />
                    </div>

                    <div class="box">
                        <div class="carInfo">
                            <p class="carText">Araç Özellikleri</p>
                            <ul class="list-group">
                                <li>@item.Year</li>
                                <li>@item.Km Km</li>
                                <li>@item.Yakit</li>
                                <li>@item.Vites</li>
                            </ul>

                        </div>
                        <div class="rentInfo">
                            <p class="carText">Kiralama Koşulları</p>
                            <ul class="list-group">
                                <li>@item.Price ₺ /Günlük</li>
                                <li>21 Yaş ve Üzeri </li>
                            </ul>

                        </div>
                    </div>
                </div>



            }
        </div>


